* {
    margin: auto;
    padding: 0;
    font-family: monospace;
    color: #2b2b2b;
    font-size: 36px;
}

.message {
    border: 2px solid #2b2b2b;
    color: #2b2b2b;
}
#title {
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
}
#title > i {
    color: #2b2b2b;
}